*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
header{
    background-color: rgba(43, 56, 68, 1);
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 23.5px 81px;
    align-items: center;
}
.navbar>h3{
    color: #fff;
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 800;
    line-height: 32.74px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.navbar>a{
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.82px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
}
main{
    background-color: rgba(32, 44, 54, 1);
    padding: 48px 80px;
    height: 110vh;
}
.search-div{
    background-color: rgba(43, 56, 68, 1);
    border-radius: 5px;
    padding: 19px 32px;
    width: 480px;
    align-items: center;
    height: 56px;
    display: flex;
    gap: 24px;  
}
.search-div>input{
    border-radius: 5px;
    background-color: rgba(43, 56, 68, 1);
    outline: none;
    border: none;
    width: 136px;
    height: 20px;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
}
.search-div>input::placeholder{
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
}
.card{
    background-color: rgba(43, 56, 68, 1);
    width: 264px;
    height: 250px;
    gap: 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.card>p{
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 26px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    margin-top: 12%;
}
.card>img{
    width: 264px;
    border-radius: 5px 5px 0 0;
}
.wrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 161px;
}
.top{
    display: flex;
    gap: 75px;
}
.bottom{
    display: flex;
    gap: 75px;
}
@media (max-width:769px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 27.5px 34px;
        align-items: center;
    }
    .search-div{
        background-color: rgba(43, 56, 68, 1);
        border-radius: 5px;
        padding: 19px 32px;
        width: 100%;
        align-items: center;
        height: 101px;
        display: flex;
        gap: 24px;  
    }
    .wrapper{
        gap: 70px;
    }
    .top{
        display: flex;
        gap: 75px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .bottom{
        display: flex;
        gap: 75px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    main{
        height: 150vh;
        padding: 58px 34px;
    }
    .navbar>h3{
        font-family: Nunito Sans;
        font-size: 18px;
        font-weight: 800;
        line-height: 24.55px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .navbar>a{
        font-family: Nunito Sans;
        font-size: 18px;
        font-weight: 600;
        line-height: 24.55px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .navbar>input{
        font-family: Nunito Sans;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}
@media (max-width:426px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 30px 16px;
        align-items: center;
    }
    .search-div{
        background-color: rgba(43, 56, 68, 1);
        border-radius: 5px;
        padding: 19px 32px;
        width: 100%;
        align-items: center;
        display: flex;
        height: 48px;
        gap: 24px;  
    }
    main{
        padding: 24px 16px;
        height: 360vh;
    }
    .wrapper{
        justify-content: center;
    }
    .top{
        justify-content: center;
    }
    .bottom{
        justify-content: center;
    }
    .search-div>input::placeholder{
        font-family: Nunito Sans;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .navbar>h3{
        font-family: Nunito Sans;
        font-size: 14px;
        font-weight: 800;
        line-height: 20px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .navbar>a{
        font-family: Nunito Sans;
        font-size: 12px;
        font-weight: 600;
        line-height: 16.37px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}